@page "/processados"
@using EmailTest2.Shared
@using EmailTest2.Client.Pages
@using BlazorContextMenu

<h1>Processados</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Assunto</th>
            <th>De</th>
            <th>Data</th>
        </tr>
    </thead>
</table>